<div class="subscribers mat-elevation-z8 pl-10 pr-10">
  <div class="subscribers-header">
    <h1>Subscribers</h1>
  
    <div>  
      <button mat-button color="primary" (click)="goToCreate()" class="mr-20">
        <span>Create</span>
        <mat-icon>add</mat-icon>
      </button>
  
      <mat-form-field appearance="outline">
        <input [formControl]="searchControl" type="search" matInput placeholder="Search" name= "search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-progress-bar mode="query" *ngIf="isLoading$ | async"></mat-progress-bar>
  <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="subscribers-table"
    >
  
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Area">
        Area
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Area}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email">
        Email
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="SubscriptionStateDescription">
      <th mat-header-cell *matHeaderCellDef>
        State
      </th>
      <td mat-cell *matCellDef="let element"> {{element.SubscriptionStateDescription}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="DeleteSubscriptor(element.Id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
  
          <button mat-menu-item (click)="goToDetail(element.Id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator
    [length]="totalSubscribers"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
    showFirstLastButtons
    #paginator
  >
  </mat-paginator>
</div>