<ng-container *ngIf="subscriptor;else noSubscriptor">
  <mat-card>
    <mat-card-actions class="detail-subscriptor-actions">
      <button mat-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        {{'actions-go-back'|translate}}
      </button>

      <div>
        <button
          mat-button
          color="primary"
          (click)="edit()"
          *ngIf="!isEditing"
        >
          <mat-icon>edit</mat-icon>
          {{'actions-edit'|translate}}
        </button>

        <button
          mat-button
          color="warn"
          (click)="DeleteSubscriptor()"
        >
          <mat-icon>delete</mat-icon>
          {{'actions-delete'|translate}}
        </button>
      </div>
    </mat-card-actions>

    <mat-card-title class="ml-20">
      <span>{{'detail-subscriptor-title'|translate:({value:subscriptor.Id})}}</span>
    </mat-card-title>

    <mat-card-content>
      <ng-container *ngIf="isEditing;else NotIsEditing">
        <form [formGroup]="updateSubscriptorForm" (ngSubmit)="save()" class="detail-subscriptor-form pt-10">
          <mat-form-field appearance="outline">
            <mat-label>{{'fields-label-name'|translate}}</mat-label>
            <input matInput formControlName="Name">
            <mat-icon matSuffix>badge</mat-icon>
            <mat-error *ngIf="getField('Name')?.hasError('required')">
              {{'field-error-name-required'|translate}}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>{{'fields-label-email'|translate}}</mat-label>
            <input matInput formControlName="Email">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="getField('Email')?.hasError('required')">
              {{'field-error-email-required'|translate}}
            </mat-error>
            <mat-error *ngIf="!getField('Email')?.hasError('required') && getField('Email')?.hasError('email')">
              {{'field-error-email-invalid'|translate}}
            </mat-error>
          </mat-form-field>
      
          <app-select-countries [control]="getField('Country')"></app-select-countries>
      
          <mat-form-field appearance="outline">
            <mat-label>{{'fields-label-phone'|translate}}</mat-label>
            <input matInput formControlName="PhoneNumber">
            <mat-icon matSuffix>call</mat-icon>
            <mat-error *ngIf="getField('PhoneNumber')?.hasError('required')">
              {{'field-error-phone-required'|translate}}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Area</mat-label>
            <input matInput formControlName="Area">
            <mat-icon matSuffix>edit</mat-icon>
            <mat-error *ngIf="getField('Area')?.hasError('required')">
              {{'field-error-area-required'|translate}}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>{{'fields-label-job-title'|translate}}</mat-label>
            <input matInput formControlName="JobTitle">
            <mat-icon matSuffix>work</mat-icon>
            <mat-error *ngIf="getField('JobTitle')?.hasError('required')">
              {{'field-error-job-title-required'|translate}}
            </mat-error>
          </mat-form-field>
        </form>
      </ng-container>

      <ng-template #NotIsEditing>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>{{'label-name'|translate}}</span>
            <span matLine>{{ subscriptor.Name }}</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>{{'label-email'|translate}}</span>
            <span matLine>{{ subscriptor.Email }}</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>{{'label-country'|translate}}</span>
            <span matLine>
              {{ subscriptor.CountryCode }}
              <ng-container *ngIf="subscriptor.CountryName">- {{ subscriptor.CountryName }}</ng-container>
            </span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>{{'label-phone'|translate}}</span>
            <span matLine>{{ subscriptor.PhoneNumber }}</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>{{'label-area'|translate}}</span>
            <span matLine>{{ subscriptor.Area }}</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>{{'label-job-title'|translate}}</span>
            <span matLine>{{ subscriptor.JobTitle }}</span>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </mat-card-content>

    <mat-card-actions class="detail-subscriptor-actions" *ngIf="isEditing">
      <button
        mat-button
        (click)="reset()"
      >
        <mat-icon>cancel</mat-icon>
        {{'actions-cancel'|translate}}
      </button>
  
      <button
        mat-button
        color="primary"
        (click)="save()"
        [disabled]="updateSubscriptorForm.invalid"
      >
        <mat-icon>save</mat-icon>
        {{'actions-save'|translate}}
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #noSubscriptor>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">{{'detail-subscriptor-text-not-found'|translate:({value:subscriptorId})}}</h4>
    <p class="mb-10">{{'detail-subscriptor-text-try-again'|translate}}</p>
    <button mat-raised-button color="primary" (click)="goBack()">{{'actions-go-back'|translate}}</button>
  </div>
</ng-template>
