
<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>{{'login-username-label'|translate}}</mat-label>
    <input type="text" matInput formControlName="UserName">
    <mat-error *ngIf="getField('UserName')?.hasError('required')">
      {{'login-username-error-required'|translate}}
    </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>{{'login-password-label'|translate}}</mat-label>
    <input matInput formControlName="Password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="getField('Password')?.hasError('required')">
      {{'login-password-error-required'|translate}}
    </mat-error>
  </mat-form-field>
  
  <button
    type="submit"
    mat-flat-button
    color="primary"
    extended
    class="mt-10"
    [disabled]="loginForm.invalid"
  >
    {{'login-submit-button'|translate}}
  </button>
</form>
