<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">
  <header>
    <label>My Application</label>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [mat-menu-trigger-for]="languages">
        <mat-icon>language</mat-icon>
        <span>{{'menu-languages'|translate}}</span>
      </button>
      
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>{{'menu-logout'|translate}}</span>
      </button>
    </mat-menu>

    <mat-menu #languages="matMenu">
      <button mat-menu-item (click)="setLanguage('en')">
        <span>{{'menu-languages-en'|translate}}</span>
      </button>

      <button mat-menu-item (click)="setLanguage('es')">
        <span>{{'menu-languages-es'|translate}}</span>
      </button>
    </mat-menu>
  </header>
</mat-toolbar>

<div class="container mt-30">
  <router-outlet></router-outlet>
</div>
