<mat-toolbar color="primary" *ngIf="isLoggedIn">
  <header>
    <label>My Application</label>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </header>
</mat-toolbar>

<div class="container mt-30">
  <router-outlet></router-outlet>
</div>
